<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style2.css}" href="/src/main/resources/static/style2.css">
    <script src="https://kit.fontawesome.com/d4739cb5c2.js" crossorigin="anonymous"></script>
    <title>Chat</title>
</head>
<body>
<nav th:replace="~{common/navbar :: navbar}"></nav>
<div id="chat">
        <iframe th:src="@{/chat/{friendId}/messages(friendId=${activeUser.id})}" style="width:100%; height:50%;"  >
        </iframe>

    <form th:action="@{/chat/{friendId}/send(friendId=${activeUser.id})}" method="post">
        <input id="messageInput" type="text" name="text">
        <button type="submit" class="btn">send</button>
    </form>

    <br><br>
    <form th:action="@{/chat/{friendId}/messagesHistory(friendId=${activeUser.id})}" method="get">
        <button  type="submit" class="btn ghost">chat history</button>
    </form>
</div>

<!--<script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>-->


</body>
</html>