<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5"> <!--M.G: auto-refreshes site so chat can look like it is live-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style2.css}">
    <script src="https://kit.fontawesome.com/d4739cb5c2.js" crossorigin="anonymous"></script>
    <title>Chat</title>
</head>
<body>
    <div id="messages">
            <div th:each="m : ${messages}"
                 th:class="${m.userId == myId} ? 'me' : 'them'">
                <span th:text="${user.id==m.userId}? ${user.name}:${activeUser.name} "></span>
                <spam>(</spam>
                <span  th:text="${m.timeSent}"></span>
                <span>): </span>
                <span  th:text="${m.message}"></span>
            </div>
    </div>
