<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/style2.css}" >
</head>
<body>

<div class="auth-container">

    <h1>Reset your password</h1>

    <p class="info-text">
        Please enter a new password for your account.
    </p>

    <form th:action="@{/reset-password}"
          th:object="${form}"
          method="post"
          class="auth-form">


        <input type="hidden" th:field="*{token}"/>

        <label for="newPassword">New password</label>
        <input id="newPassword"
               type="password"
               th:field="*{newPassword}"
               placeholder="New password"
               required>

        <div th:if="${#fields.hasErrors('newPassword')}"
             th:errors="*{newPassword}"
             class="error-message"></div>

        <label for="confirmPassword">Confirm new password</label>
        <input id="confirmPassword"
               type="password"
               th:field="*{confirmPassword}"
               placeholder="Confirm password"
               required>

        <div th:if="${#fields.hasErrors('confirmPassword')}"
             th:errors="*{confirmPassword}"
             class="error-message"></div>


        <div th:if="${#fields.hasGlobalErrors()}"
             th:each="e : ${#fields.globalErrors()}"
             th:text="${e}"
             class="error-message"></div>

        <button type="submit">Reset password</button>
    </form>

    <div class="back-link">
        <a th:href="@{/}">← Back to login</a>
    </div>

</div>

</body>
</html>
