<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style2.css}">
    <script src="https://kit.fontawesome.com/d4739cb5c2.js" crossorigin="anonymous"></script>


    <title>Home Page</title>
</head>
<body>

<nav th:replace="~{common/navbar :: navbar}"></nav>

        <div class="feed">
            <div th:each="post: ${feed}" class="post-card">
                <div class="post-card__header">
                    <img th:src="@{/media/{userId}/{img}(userId=${user.id},img=${user.profilePicture})}" class="profile-photo">
                    <span th:text="${user.name}"></span>
                    <span class="date" th:text="${#dates.format(post.createdAt, 'dd.MM.yyyy')}"></span>
                </div>
                <a th:href="@{/post/{postId}(postId=${post.id})}">
                    <div class="post-card__body">
                        <img th:if="${post.rawImage != null}" th:src="@{/media/{userId}/{img}(userId=${post.userId},img=${post.rawImage})}" style="width:50%; height: 50%" class="post-image">
                        <p th:text="${post.message}"></p>
                        <span th:text="${post.likeNumber}"></span> likes
                    </div>
                </a>
                <div class="post-footer">
                </div>
            </div>


        </div>



</body>
</html>